@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap);
*{
    font-family: "Roboto", serif;
}
body{
    font-family: "Roboto", serif;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #f3f3f3;
}
main{
    background-color: #ffffff;
}
a:hover{
    color: #fffa7c;
}

h2{
    text-align: center;
    color: #8844cc;
    font-weight: bolder;
}

h3{
    color: #8844cc;
    font-weight: bolder;
}
